html { height: 100%; }

body {
  height: 100%;
  color: #999;
  font-family: Arial, Helvetica, Verdana;
  padding-top: 30px;
  background: url('bg-body.png') repeat;
}

.row div { height: 100%; }

.navbar-gradient {
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

.navbar-gradient li a:link, .navbar-gradient li a:visited {
  color: #999;
}

ul.nav a:hover,
.navbar-gradient .navbar-brand:hover 
{
  background: rgb(183,222,237); 
  background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); 
  background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,rgba(183,222,237,1)), 
                color-stop(50%,rgba(113,206,239,1)), 
                color-stop(51%,rgba(33,180,226,1)), 
                color-stop(100%,rgba(183,222,237,1))); 
  background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
  background: -o-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
  background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
  background: linear-gradient(to bottom, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); 
  color: white;
}

.navbar-gradient .navbar-brand { color: black; }

.pad { padding: 1em; }

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #aaa;
  border: none;
}

blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #ccc;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}

div h2 { color: #666; }

.modal {
  position: absolute;
  width: 50%;
  min-height: 50%;
  top: 10%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  background: #fff;
  -webkit-box-shadow: 0px 3px 24px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 24px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 24px -5px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.modal-header {
  background: rgb(183,222,237); 
  background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); 
  background: -webkit-gradient(linear, left top, left bottom, 
                color-stop(0%,rgba(183,222,237,1)), 
                color-stop(50%,rgba(113,206,239,1)), 
                color-stop(51%,rgba(33,180,226,1)), 
                color-stop(100%,rgba(183,222,237,1))); 
  background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
  background: -o-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
  background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
  background: linear-gradient(to bottom, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); 
}

.modal-header h2 {
  font-size: 1.1em;
  color: #eee;
  margin: 0;
}

.modal-backdrop {
  background-color: #fff;
}

pre {
  background-color: #fff;
  background: url(grid.png) repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border:1px solid #ddd;
  color: #000 !important;
  font-family: 'Inconsolata';
  font-size: 1.2em;
}

.fill { width: 100%; height: 100%; }

#code_editor { background: blue; }
